<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <style>
        .body{
            background : rgb(238, 229, 191);
            max-width: 800px;
            text-align: center;
            padding: 20px;
            margin : auto;

        }

    </style>    

    <div class="body">

        <h1>Hello ${name}, did you make a new register in OpenStrava?</h1>

        <p>If you, please confirm in button bellow</p>

        <form action="https://google.com">
            <input type="submit" value="Yes, am I" />
        </form>

        <h5>If didn't you, relax... just ignore this email</h5>

    </div>



</body>
</html>