<template>
    <style>

        .input{
            border: none;
            background-color: rgba(0,0, 0, 0);
            border-bottom: solid 2px #aca9a9;
        }

        input:focus{
            border-bottom: solid 2px #eb9c9c;
            color: #eb9c9c;
        }

        .grpSex{
            display: flex;     
            justify-content: center;
        }

        label{
            text-align: right;
        }

    </style>

    <form action="#" id="frmNewUser">
        <input class="input" type="text" id="edtName" placeholder="Name" required>
        <input class="input" type="email" id="edtMail" placeholder="Email" required>
        <input class="input pass" type="password" id="edtPass" placeholder="Password" required>
        <input class="input pass" type="password" id="edtRePass" placeholder="Repeat Password" required>
    
        <p>Please choose your category:</p>
        <div class="grpSex">
            <div>
                <input type="radio" id="grpMale" name="grpSex" value="M" checked>
                <label for="male">Male</label>    
            </div>
            <div>
                <input type="radio" id="grpFemale" name="grpSex" value="F">
                <label for="female">Female</label>    
            </div>
            
        </div>
    
        <button id="btnNewUser">Create User</button>
    </form>

    <button id="btnSend">teste de email</button>


</template>
<script>

    document.getElementById('btnSend').addEventListener('click',()=>{

        sendmail('Tales','tales@flexibus.com.br');


    });



    function sendmail(name, email){

        const bodyMail = `


            <h1>Hello ${name}, did you make a new register in OpenStrava?</h1>

            <p>If you, please confirm in button bellow</p>

            <a href="localhost/openstrava"><button>Yes, am I</button></a>

            <h5>If didn't you, relax... just ignore this email</h5>

        `


        const data = new URLSearchParams();        
            data.append("name", name);
            data.append("email", email);
            data.append("subject", 'OpenStrava - Confirm New User');
            data.append("message", bodyMail);

        const myRequest = new Request("mail/sendMail.php",{
            method : "POST",
            body : data
        });        

        fetch(myRequest);
    }


    function check(form){

        let elements = form.elements        
        for (let i = 0, element; element = elements[i++];) {
            if(!element.checkValidity()){
                alert('Please, fill all required fields!')
                element.focus()
                return false
            }
        }
    
        let pass = form.querySelectorAll('.pass')
        let val = ''
        if(pass.length > 0){
            for(let i=0; i< pass.length; i++)
            if(i == 0){
                val = pass[i].value
            }else{
                if(val != pass[i].value){
                    alert("Password don't match")
                    pass[i].focus()
                    return false
                }
            }

        }
        return true;

    }

    document.getElementById('btnNewUser').addEventListener('click',(event)=>{

        if(check(document.getElementById('frmNewUser')) ){
            event.preventDefault();

            const name = document.getElementById('edtName').value.trim();
            const mail = document.getElementById('edtMail').value.trim();
            const pass = document.getElementById('edtPass').value.trim();
            const sex = document.querySelector('input[name="grpSex"]:checked').value;

//            console.log(sex)

            const params = new Object;
                params.name = name;
                params.user = mail;
                params.mail = mail;
                params.pass = pass;
                params.sex = sex;

            const data = new URLSearchParams();
                data.append("cod", 1);
                data.append("token", '');
                data.append("params", JSON.stringify(params));

            const myRequest = new Request("db/query_db.php",{
                method : "POST",
                body : data
            });

            const myPromisse = new Promise((resolve,reject) =>{
                            
                fetch(myRequest)
                .then(function (response){
                    if (response.status === 200) {
                        resolve(response.text());
                    } else {
                        reject(new Error("Houve algum erro na comunicação com o servidor"));
                    }

                });

            });

            myPromisse.then((resolve)=>{
                if(resolve == 1){
                    sendmail(name.trim(),mail.trim())
                    alert('Success!!! Please, check your email to aprove...')
                    document.querySelector('.modal').style.display = 'none';
                }else{
                    alert('Email alread in use, please choose other one.')
                }

            });

        }

    });  

</script>